{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Title</title>
</head>
<body>
<section>
    <article>
        <form {% for problem in list %}
            q{{ problem.id }}="Q{{ problem.id }}"
            {% endfor %}
            method="post" action="{% url 'exam:testt' %}">
            {% csrf_token %}
            <ol>
                {% for problem in list %}
                <li>
                    <dl>
                        <dt>{{ problem.question }}</dt>
                        <input type="hidden" id="{{ problem.id }}" value="{{ problem.id }}">
                        {% if problem.example %}
                        <dd><img src="{{ problem.example.url }}"></dd>
                        {% endif %}
                        <dd>
                            <input type="radio" name="Q{{ problem.id }}" value="1">{{ problem.ex1 }}
                            <input type="radio" name="Q{{ problem.id }}" value="2">{{ problem.ex2 }}
                            <input type="radio" name="Q{{ problem.id }}" value="3">{{ problem.ex3 }}
                            <input type="radio" name="Q{{ problem.id }}" value="4">{{ problem.ex4 }}
                        </dd>
                    </dl>
                </li>
                {% endfor %}
            </ol>
        </form>
    </article>
</section>
</body>
</html>