{% extends 'base.html' %}
{% block content %}
<section>
    <div>
        <h2>CBT</h2>
        <ol>
            <li>필기시험에 대해 각 과목별로 문제를 풀고 싶으신 분들은 해당 과목을 클릭하시면 됩니다.</li>
            <li>실기시험은 시험 자체가 각 단원별로 정해진 문항이 출제되는 것이 아니기에, 필기처럼 각 단원에 대하여 CBT 기능을 제공하지 않습니다.</li>
            <li>시험은 클릭하자마자 시작됩니다. 미리 준비하시고 들어가시기 바랍니다.</li>
            <li>실제 시험처럼 2시간 30분의 제한시간이 주어집니다.</li>
            <li>Q-net에서 필기 시험 시간은 과목당 30분으로 계산하여 총 2시간 30분으로 안내하고 있습니다. 이를 따라 필기의 각 과목에 대해서는 30분의 제한시간이 주어집니다.</li>
        </ol>
    </div>
    <div>
        <a href="#">필기 1과목</a>
        <a href="#">필기 2과목</a>
        <a href="#">필기 3과목</a>
        <a href="#">필기 4과목</a>
        <a href="#">필기 5과목</a>
        <a href="#">필기 전체</a>
        <a href="#">실기 전체</a>
    </div>
</section>
{% endblock %}