{% extends 'base.html' %}
{% block content %}
<script type="text/javascript">
    function ans_check() {
        const Ex1 = document.getElementById("ex1");
        const Ex2 = document.getElementById("ex2");
        const Ex3 = document.getElementById("ex3");
        const Ex4 = document.getElementById("ex4");
        const ans = document.getElementById("answer").value;
        const yn = document.getElementById("yes_or_no");

        if (Ex1.checked & (Ex1.value == ans)) {
            alert(0);
            yn.innerHTML = "정답입니다.";
        }
    }
</script>
<section>
    <h1>{{ problem.id }}번<span id="yes_or_no"></span></h1>
    {% if problem.example %}
    <p><img src="{{ problem.example.url }}"></p>
    {% endif %}
    <p>{{ problem.question }}</p>
    <form method="post" onsubmit="ans_check()">
        {% csrf_token %}
        <input type="hidden" name="problem_type" value="{{ problem.type_integer }}">
        <input type="hidden" id="answer" value="{{ problem.answer }}">
        {% if problem.type_integer == 1 %}
        <input type="radio" name="ex" id="ex1" value="1">{{ problem.ex1 }}<br>
        <input type="radio" name="ex" id="ex2" value="2">{{ problem.ex2 }}<br>
        <input type="radio" name="ex" id="ex3" value="3">{{ problem.ex3 }}<br>
        <input type="radio" name="ex" id="ex4" value="4">{{ problem.ex4 }}<br>
        {% else %}
        <input type="text" name="ex">
        {% endif %}
        <input type="submit" value="정답 체크">
    </form>
</section>
{% endblock %}