{% extends 'base.html' %}
{% block content %}
<section>
    <h1>{{ problem.id }}번<span id="yes_or_no"></span></h1>
    {% if problem.example %}
    <p><img src="{{ problem.example.url }}"</p>
    {% endif %}
    <p>{{ problem.question }}</p>
    <form method="post" action="{% url 'exam:checkAnswer' problem.id %}">
        {% csrf_token %}
        <input type="hidden" name="problem_type" value="{{ part.type_integer }}">
        <input type="hidden" id="answer" value="{{ part.answer }}">
        {% if problem.type_integer == 1 %}
        <input type="radio" name="ex" value="1">{{ problem.ex1 }}<br>
        <input type="radio" name="ex" value="2">{{ problem.ex2 }}<br>
        <input type="radio" name="ex" value="3">{{ problem.ex3 }}<br>
        <input type="radio" name="ex" value="4">{{ problem.ex4 }}<br>
        {% else %}
        <input type="text">
        {% endif %}
        <input type="submit" value="정답 체크">
    </form>
</section>
{% endblock %}