<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <h1>Infobreaker</h1>
    <div>
        <ul>
            <li>
                문제
                <ul>
                    <li><a href="{% url 'exam:written' %}">필기</a></li>
                    <li><a href="{% url 'exam:practical' %}">실기</a></li>
                </ul>
            </li>
            <li>
                게시판
                <ul>
                    <li><a href="#">필기</a></li>
                    <li><a href="#">필기</a></li>
                    <li><a href="{% url 'board:book_list' %}">책 리뷰</a></li>
                </ul>
            </li>
        </ul>
    </div>
</section>
{% block content %}
{% endblock %}
</body>
</html>