{% extends 'base.html' %}
{% block content %}
<section>
    <table>
        <thead>
            <tr>
                <td>제목</td>
                <td>표지</td>
                <td>출판사</td>
                <td>가격</td>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td><a href="{% url 'board:book_detail' book.id %}">{{ book.title }}</a></td>
                <td><img src="{{ book.cover_img.url }}"></td>
                <td>{{ book.publisher }}</td>
                <td>{{ book.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
