{% extends 'base.html' %}
{% block content %}
<section>
    <div>
        <h2>{{ book.title }}</h2>
    </div>
    <div>
        <img src="{{ book.cover.url }}">
    </div>
    <div>
        <ul>
            {% for review in book.review_set.all %}
            <li>
                <dl>
                    <dt>{{ review.user.username }} - {{ review.create_date }}</dt>
                    <dd>{{ review.stat }}/10 점</dd>
                    <dd>{{ review.content }}</dd>
                </dl>
            </li>
            {% endfor %}
        </ul>
    </div>
    <form method="post">
        {% csrf_token %}
        {% include 'form_errors.html' %}
        <div>
            <label for="score">평점</label>
            <input type="number" min="1" max="10" name="score" id="score" value="{{ form.stat.value|default_if_none:'' }}">
        </div>
        <div>
            <label for="review">리뷰</label>
            <input type="text" name="review" id="review" value="{{ form.review.value|default_if_none:'' }}">
        </div>
        <input type="submit" value="등록하기">
    </form>
</section>
{% endblock %}
